<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-media" version="3.0.0">
  <name>Media</name>
  <description>Cordova Media Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,media</keywords>
  <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-media.git</repo>
  <issue>https://issues.apache.org/jira/browse/CB/component/12320647</issue>
  <engines>
    <engine name="cordova-android" version=">=6.1.0"/>
  </engines>
  <dependency id="cordova-plugin-file" version="^4.0.0"/>
  <dependency id="cordova-plugin-compat" version="^1.0.0"/>
  <js-module src="www/MediaError.js" name="MediaError">
    <clobbers target="window.MediaError"/>
  </js-module>
  <js-module src="www/Media.js" name="Media">
    <clobbers target="window.Media"/>
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Media">
        <param name="android-package" value="org.apache.cordova.media.AudioHandler"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.RECORD_AUDIO"/>
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    </config-file>
    <source-file src="src/android/AudioHandler.java" target-dir="src/org/apache/cordova/media"/>
    <source-file src="src/android/AudioPlayer.java" target-dir="src/org/apache/cordova/media"/>
    <source-file src="src/android/FileHelper.java" target-dir="src/org/apache/cordova/media"/>
  </platform>
  <platform name="amazon-fireos">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Media">
        <param name="android-package" value="org.apache.cordova.media.AudioHandler"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.RECORD_AUDIO"/>
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    </config-file>
    <source-file src="src/android/AudioHandler.java" target-dir="src/org/apache/cordova/media"/>
    <source-file src="src/android/AudioPlayer.java" target-dir="src/org/apache/cordova/media"/>
    <source-file src="src/android/FileHelper.java" target-dir="src/org/apache/cordova/media"/>
  </platform>
  <platform name="ubuntu">
    <config-file target="config.xml" parent="/*">
      <feature name="Media">
        <param policy_group="microphone" policy_version="1"/>
        <param policy_group="video" policy_version="1"/>
      </feature>
    </config-file>
    <header-file src="src/ubuntu/media.h"/>
    <source-file src="src/ubuntu/media.cpp"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Media">
        <param name="ios-package" value="CDVSound"/>
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
      <string>$MICROPHONE_USAGE_DESCRIPTION</string>
    </config-file>
    <header-file src="src/ios/CDVSound.h"/>
    <source-file src="src/ios/CDVSound.m"/>
    <preference name="MICROPHONE_USAGE_DESCRIPTION" default=" "/>
  </platform>
  <platform name="blackberry10">
    <source-file src="src/blackberry10/index.js" target-dir="Media"/>
    <config-file target="www/config.xml" parent="/widget">
      <feature name="Media" value="Media"/>
    </config-file>
  </platform>
  <platform name="wp7">
    <config-file target="config.xml" parent="/*">
      <feature name="Media">
        <param name="wp-package" value="Media"/>
      </feature>
    </config-file>
    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_MEDIALIB"/>
      <Capability Name="ID_CAP_MICROPHONE"/>
    </config-file>
    <source-file src="src/wp/Media.cs"/>
    <source-file src="src/wp/AudioPlayer.cs"/>
  </platform>
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="Media">
        <param name="wp-package" value="Media"/>
      </feature>
    </config-file>
    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_MEDIALIB_AUDIO"/>
      <Capability Name="ID_CAP_MEDIALIB_PLAYBACK"/>
      <Capability Name="ID_CAP_MICROPHONE"/>
    </config-file>
    <source-file src="src/wp/Media.cs"/>
    <source-file src="src/wp/AudioPlayer.cs"/>
  </platform>
  <platform name="windows8">
    <js-module src="src/windows/MediaProxy.js" name="MediaProxy">
      <runs/>
    </js-module>
    <config-file target="package.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="microphone"/>
    </config-file>
  </platform>
  <platform name="windows">
    <js-module src="src/windows/MediaProxy.js" name="MediaProxy">
      <runs/>
    </js-module>
    <config-file target="package.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="microphone"/>
    </config-file>
  </platform>
  <platform name="tizen">
    <js-module src="src/tizen/MediaProxy.js" name="MediaProxy">
      <runs/>
    </js-module>
  </platform>
  <platform name="browser">
    <js-module src="www/browser/Media.js" name="BrowserMedia">
      <clobbers target="window.Media"/>
    </js-module>
  </platform>
</plugin>
